---
import { BASE_TITLE } from "@/utils";
import Layout from "@/layouts/Layout.astro";
---

<Layout title={`Contactos | ${BASE_TITLE}`}>
  <main>
    <h1>CONTACTOS | Visión Salcedense</h1>
  </main>
</Layout>

<style>
  main {
    height: 650px;
  }
</style>
