---
import HamburgerIcon from "../icons/HamburgerIcon.astro";
---

<div class="flex items-center lg:hidden" data-headlessui-state="">
  <button
    type="button"
    aria-expanded="false"
    data-headlessui-state=""
    aria-label="Toggle site navigation"
    id="headlessui-popover-button-:Rapnla:"
    class="relative z-10 -m-2 inline-flex items-center rounded-lg stroke-white lg:stroke-slate-200 p-2 lg:hover:bg-gray-200/50 lg:hover:stroke-gray-600 active:stroke-white ui-not-focus-visible:outline-none"
  >
    <HamburgerIcon class="h-6 w-6" />
  </button>
</div>
