---
import LogoIcon from "../icons/LogoIcon.astro";
---

<div class="flex items-center gap-4">
  <LogoIcon />

  <span class="font-bold text-2xl lg:text-3xl text-white">
    Visión
    <span class="text-contrast"> Salcedense</span>
  </span>
</div>
